<div>
  {{@item}}
  <button {{on "click" this.animate}}>
    <AnimatedContainer class={{this.style.animatedContainer}}>
      {{#animated-if this.isAnimating use=fade duration=200}}
        Animating...
      {{/animated-if}}
      {{#unless this.isAnimating}}
        Begin Nested Animation
      {{/unless}}
    </AnimatedContainer>
  </button>
</div>